#abutt:link,
#abutt:visited {
	background-color: #0b0c24;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#abutt:hover,
#abutt:active {
	background-color: rgb(245, 248, 32);
	color: black;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
}
