{% extends "base.html" %} 
{% block link %}
{% endblock %}

{% block content %}
<h3>Malaysia Covid-19 API</h3>
<p>
	Web API for Malaysia Covid-19 public data from MOH. <br>
    Epidemic Ref: <a href="https://github.com/MoH-Malaysia/covid19-public">MOH-Malaysia Covid-19 Public Data Github</a>.</br>
    Vaccination Ref: <a href="https://github.com/CITF-Malaysia/citf-public">CITF Malaysia Public Data Github</a>.</br>
    Source code: <a href="https://github.com/afiqharith/malaysia_covid19_api">Github Malaysia Covid-19 API</a>.</br>
    Available Parameter: <a href="{{ url_for('api_category.category')}}" target="_blank">Category</a>.</br></br>
</p>

    <h4>Fetching epidemic category data example:</h4>
    <p><b>GET Request</b></p>
    <p><i>https://api-covid19-malaysia.herokuapp.com/epidemic/cases?state=Selangor&start_date=2021-01-02&end_date=2021-01-05</i></p>

    <p><b>POST Request</b></p>
    <p><i>CURL-X POST -H "Content-Type: application/json" -d '{"start_date": "2021-01-02", "end_date": "2021-01-05", "state": "Selangor"}' https://api-covid19-malaysia.herokuapp.com/epidemic/cases</i></p></br>
    
    <h4>Fetching vaccination category data example:</h4>
    <p><b>GET Request</b><p>
    <p><i>https://api-covid19-malaysia.herokuapp.com/vaccination?state=Selangor&start_date=2021-06-02&end_date=2021-07-05</i></p>

    <p><b>POST Request</b></p>
    <p><i>CURL -X POST -H "Content-Type: application/json" -d '{"start_date": "2021-06-02", "end_date": "2021-07-05", "state": "Selangor"}'  https://api-covid19-malaysia.herokuapp.com/vaccination</i><p></br>
    <br><a id="abutt" href="{{ url_for('api_epidemic.cases', state='Selangor',start_date='2021-01-02',end_date='2021-01-05') }}" target="_blank">Test Epidemic</a>
    <a id="abutt" href="{{ url_for('api_vaccination.vaccination', state='Selangor',start_date='2021-06-02',end_date='2021-07-05') }}" target="_blank">Test Vaccination</a>

{% endblock %}