{% extends "base.html" %} 
{% block link %}
{% endblock %}

{% block content %}
<h3>Malaysia Covid-19 API</h3>
<p>
	A prototype REST API for Malaysia Covid-19 public data from MOH. 
    Epidemic Ref: <a href="https://github.com/MoH-Malaysia/covid19-public">MOH-Malaysia Covid-19 Public Data Github</a>.</br>
    Vaccination Ref: <a href="https://github.com/CITF-Malaysia/citf-public">CITF Malaysia Public Data Github</a>.</br>
    Source code: <a href="https://github.com/afiqharith/malaysia_covid19_api">Github Malaysia Covid-19 API</a>.</br>
    Available Parameter: <a href="{{ url_for('api_category.category')}}" target="_blank">Category</a> </br></br>
    Epidemic usage example: </br>
    https://api-covid19-malaysia.herokuapp.com/epidemic/cases?state=Selangor&start_date=2021-01-02&end_date=2021-01-05 </br></br>
    Vaccine usage example: </br>
    https://api-covid19-malaysia.herokuapp.com/vaccine?state=Selangor&start_date=2021-06-02&end_date=2021-07-05</br>
</p>
    <a id="abutt" href="{{ url_for('api_epidemic.cases', state='Selangor',start_date='2021-01-02',end_date='2021-01-05') }}" target="_blank">Test Epidemic</a>
    <a id="abutt" href="{{ url_for('api_vaccination.vaccine', state='Selangor',start_date='2021-06-02',end_date='2021-07-05') }}" target="_blank">Test Vaccination</a>

{% endblock %}