{% extends "base.html" %} 
{% block link %}
{% endblock %}

{% block content %}
<div class="div_header">
    <h1 class="h1_header">Malaysia Covid-19 API</h1><img class="image_top" src="{{ url_for('static',filename='images/index.ico') }}" alt="images">
</div>

<div class="div_top">
    <p>Web API for Malaysia Covid-19 public data from MOH.</br>
    Epidemic Ref: <a href="https://github.com/MoH-Malaysia/covid19-public">MOH-Malaysia Covid-19 Public Data Github</a>.</br>
    Vaccination Ref: <a href="https://github.com/CITF-Malaysia/citf-public">CITF Malaysia Public Data Github</a>.</br>
    Source code: <a href="https://github.com/afiqharith/malaysia_covid19_api">Github Malaysia Covid-19 API</a>.</br>
    Available Parameter: <a href="{{ url_for('api_category.category')}}" target="_blank">Category</a>.
    </p>
</div>

<div class="div_middle_upper">
    <h4 class="h4_header">Epidemic category</h4>
    <p class="p_title">GET Request</p>
    <p class="p_request" id="get_req_epidemic">https://api-covid19-malaysia.herokuapp.com/epidemic/cases?state=Selangor&start_date=2021-01-02&end_date=2021-01-05</p>
    <button class="button_copy button_font" onclick="copy_to_clipboard('get_req_epidemic')">Copy</button>

    <p class="p_title">POST Request</p>
    <p class="p_request" id="post_req_epidemic">CURL-X POST -H "Content-Type: application/json" -d '{"start_date": "2021-01-02", "end_date": "2021-01-05", "state": "Selangor"}' https://api-covid19-malaysia.herokuapp.com/epidemic/cases</p>
    <button class="button_copy button_font" onclick="copy_to_clipboard('post_req_epidemic')">Copy</button>
</div>

<div class="div_middle_lower">
    <h4 class="h4_header">Vaccination category</h4>
    <p class="p_title">GET Request<p>
    <p class="p_request" id="get_req_vaccination">https://api-covid19-malaysia.herokuapp.com/vaccination?state=Selangor&start_date=2021-06-02&end_date=2021-07-05</p>
    <button class="button_copy button_font" onclick="copy_to_clipboard('get_req_vaccination')">Copy</button>
    
    <p class="p_title">POST Request</p>
    <p class="p_request" id="post_req_vaccination">CURL -X POST -H "Content-Type: application/json" -d '{"start_date": "2021-06-02", "end_date": "2021-07-05", "state": "Selangor"}'  https://api-covid19-malaysia.herokuapp.com/vaccination</p>
    <button class="button_copy button_font" onclick="copy_to_clipboard('post_req_vaccination')">Copy</button>
</div>

<div class="div_bottom">
    <a class="button button_font" href="{{ url_for('api_epidemic.cases', state='Selangor',start_date='2021-01-02',end_date='2021-01-05') }}" target="_blank">Test Epidemic</a>
    <a class="button button_font" href="{{ url_for('api_vaccination.vaccination', state='Selangor',start_date='2021-06-02',end_date='2021-07-05') }}" target="_blank">Test Vaccination</a>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='copy_clipboard.js') }}"></script>
{% endblock %}