<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
		<link rel="icon" href="{{ url_for('static',filename='images/index.ico') }}" type="image/x-icon" />
		{% block link %} {% endblock %}
		<title>{{ title }}</title>
	</head>

	<body>
		{% block content %} {% endblock %}
		<footer class="footer">©{{ year }} Afiq Harith</footer>
	</body>
</html>
